@font-face{
  font-family: font-title;
  src: url('../fonts/EarlyBird/EarlyBird-97nj.ttf') format('truetype');
}

@font-face{
  font-family: text;
  src: url('../fonts/anonymous-pro/AnonymousPro-2O73w.ttf') format('truetype');
}

*{
  color: white;
  margin: 0;
  padding: 0;
}

body{
  background-color: #59316b;
}

.desc{
  font-family: text;
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.textarea{

  top : 32%;
  left: 25%;

  width : 25%;
  height: 5%;

  background-color: white;
}

.box{
  width: 380px;
  height: 70px;
  border: 2px;
  background-color: #FAFAFA;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(50%, -50%);
}

.comb{
  color: #222;
  font-family: text;
  font-size: 30px;
  padding: 20px 10px;
  text-align: center;
}
 .green{
   width: 80px;
   height: 80px;
 }
 .green:hover{
     background: #3ADF00;
     color: #fff;
     cursor: pointer;
 }

nav{
  width: 100%;
  height: 60px;
  background-color: #fff;
}

nav p{
  font-family: text;
  color: #222;
  font-size: 24px;
  line-height: 55px;
  float: left;
}

nav ul li{
  list-style: none;
  color: #222;
}

nav ul li a{
  font-family: text;
  color: #222;
  font-size: 24px;
  padding: 24px 14px;
  display: block;
  text-decoration: none;
  float: left;
}

nav img{
  width: 13%;
  padding: 0px 20px;
}

button{
  background: none;
  color: #fff;
  width: 240px;
  height: 80px;
  border: 1px solid #fff;
  font-size: 18px;
  font-family: text;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;
}

button:focus{
  outline: none;
}

button:before{
  content: '';
  display: block;
  position: absolute;
}

button::after{
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, .2);
  top: 0;
  opacity: inherit;
}

button:hover{
  background: #fff;
  color: #59316B;
  cursor: pointer;
}

button:hover::before{
  opacity: .6;
  transition: .7s;
}

button:hover::after{
  opacity: 1;
  transition: .7s;
}

button img{
}
